* {
    box-sizing: border-box;
}

html {
    background: #ffc600;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}

body {
    font-family: 'Inconsolata', monospace;
}

.Site {
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

a {
    color: black;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

h1 {
    color: #0FA3B1;
    text-transform: uppercase;
}

label {
    width: 50%;
    height: 30px;
    display: inline-block;
}

input {
    display: inline-block;
}

.upload-form {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    color: #0FA3B1;
}

input.people-select,
input.shapes-select {
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    text-align: center;
    outline: 0;
    border: 0;
    border: 10px solid #F7F7F7;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12) inset 0 0 2px rgba(0, 0, 0, 0.19);
}

input.people-select {
    margin-bottom: 40px;
}

button:first-of-type {
    margin-bottom: 40px;
}

.hl {
    background: #ffc600;
}

.footer {
    font-family: 'Inconsolata', monospace;
    letter-spacing: 0.1em;
    text-align: center;
}

@media all and (max-width: 799px) {
    input.people-select,
    input.shapes-select {
        width: 100%;
        font-size: 24px;
    }
}
