<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spatial Join</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <body class="Site">
        <h1>Spatial Join</h1>
        <div class="intro">
            <p>This tool allows you to add geo-location datato your database.</p>
        </div>
        <main class="Site-content">
            <h1>Upload new File</h1>
            <form method="post" enctype="multipart/form-data" class="upload-form">
                <div class="people">
                    <label for="file-select">Upload People CSV</label>
                    <input type="file" id="people-select" name="people" class="people-select" accept=".csv">
                </div>
                <div class="shapes">
                    <label for="shapes-select">Upload Shape File</label>
                    <input type="file" name="shapes" id="shapes-select" class="shapes-select" accept=".csv">
                </div>
              <button type="submit" class="btn" value="Upload">Submit</button>
            </form>
        </main>

        <footer class="footer">
            <p>© 2017 New York Civic Engagement Table</p>
        </footer>

    </body>

</html>
